label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
input {
  padding: 2px 5px;
  margin-bottom: 5px;
  border-radius: 20px;
}
textarea {
  padding: 5px;
  border-radius: 20px;
  resize: none;
  font-size: 12px;
  overflow: auto;
}
input, textarea {
  width: 100%;
}
